/* ко всем элементам */
*{

}


/* Tag Name*/
body {
    background: #eee;
}

/* Class */

.card {
    padding: 10px;
    background: #fff;
    /* margin-bottom: 10px; */
}

.card p {
    font-size: 14px;}
.html {
    background: #e96228;
    color: white;
}

.css {
    background: #254bdd;
    color: white;
}

/* Id */

#header {
    background: #ddd;
    padding: 10px;
}

#header, .card  {
    margin-bottom: 10px;
}
