.playground {
    position: relative;     
    /* позиционируется относительно родителя */

    border: 4px solid black;
    height: 300px;
    padding: 20px;
}

.pos-box {
    /* position: static;  Родители учитывают наличие детей*/
    /* left top right bottom */

    position: absolute;
    top: 0;
    /* top: 0;
    left: 0; */

    /* bottom: 0;
    right: 0; */

    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#header {
    margin-top: 60px;
}