@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: #f1f1f1;
    margin-bottom: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}
a:visited {
    color: grey;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info {
    margin-bottom: 20px;
    display: flex;
    
}

.info-text{
    margin-left: 30px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0px;
    
}

.info-text h4 {
    margin-bottom: 10px;
}

.card-1 {
    /* border: 2px solid green; */
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: rgb(182, 233, 233);

}

.card-2 {
    /* border: 4px solid black; */
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: pink;
    
}

.card-3 {
    /* border: 4px solid red; */
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 212);
    
}

.btn{
    background: black;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #4b7759;
    margin-bottom: 5px;
}

.link-list {
    list-style: none;
    padding: 0;
}
.link-list li {
    color: #4b7759;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3){
    color: #4b7759;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    

}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child{
    margin-right: 0;
}


.form-group label{
    display: block;
    font-size: 14px;
    color: #4b7759;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}