/* inline, block, inline-block */

.inline li{
    display: inline;
}

.box {
    width: 33%;
    border: 1px solid black;
    background: #f4f4f4;
    display: inline-block;
    box-sizing: border-box;
}
.img {
    width: 100px;
    display: block;
    margin: 40px auto;
    
}